table{
    border: 1px solid #000;
    width: 100%;
    text-align: center;
}
td{
    border: 1px solid #000;
}
/* hover */
a:hover{
    color: rgb(252, 166, 166);
  
   text-shadow: 1px 1px 10px rgb(211, 210, 210);


}
a{
    text-decoration: none;
    color: rgb(80, 174, 218);
}